.c{
    display: inline-block;
    border-radius: 50%;
    background-color: #222;
    height: 50px;
    width: 50px;
}
.c1{
    animation: load 3s linear -1s infinite forwards normal;
}
.c2{
    animation: load 3s linear 0s infinite forwards normal;
}
.c3{
    animation: load 3s linear -2s infinite forwards normal;
}

@keyframes load{
    0%, 100%{
        transform: scale(0);
    }
    25%{
        transform: scale(.5);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(.5);
    }
}