* {
    margin: 0px;
    font-family: 'Martel Sans', sans-serif;
}
.container{
    background-color: #335C81;
}
.page-heading{
    width: 75vw;
    margin: 0 auto;
}
.page-heading img{
    width: 100%;
    font-size: 0;
    line-height: 0;
}
.main{
    width: 75vw;
    margin: auto;
    background-color: #D7DAE5;
}
.fluency-table{
    border-spacing: 0px;
}
.fluency-table thead{
    background-color: #444;
    color: #fff;
}
.fluency-table td, th{
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}
.fluency-table tr:nth-child(even) {background-color: rgb(242, 242, 242);}
.area-heading{
    padding: 15px 5px;
    font-family: 'Raleway', sans-serif;
}