.note-section{
    width: 100vw;
    height: 85vh;
}
.notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.note{
    display: inline-block;
    background-color: #444;
    color: #fff;
    margin: 10px;
    padding: 25px 10px;
    border-radius: 5px;
    max-width: 20%;
    min-width: 20%;
    position: relative;
}
.mover{

}
.mover img{
    position: absolute;
    width: 10px;
    top: 5px;
    cursor: pointer;
}
.mover .left{
    left:5px;
    transform: rotateY(180deg);
}
.mover .trash{
    left: 50%;
    right: auto;
    width: 15px;
}
.mover .right{
    right: 5px;
}
.noteTitle{
    font-weight: bold;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.noteBody{

}