*{
    margin: 0px;
}
body{
    background-color: lightblue;
    text-align: center;
    padding-top: 70px;
}
.cloud{
    margin-bottom: 200px;
}
a{
    display: block;
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #555;
}



.cloud{
/*    transform: rotate(90deg);*/
/*    transform: rotateX(30deg);*/
/*    transform: scale(3);*/
/*    transform: translate(30px);*/
/*    transform: skewX(30deg);*/
}
