*{
    margin: 0px;
}
body{
    background-color: lightblue;
    position: relative;
}
h1{
    text-align: center;
}
.cloud{
    position: absolute;
    top: 100px;
    left: 30%;
    z-index: 1;
}
.dynamicCloud{
    position: absolute;
    z-index: 1;
}
.sun{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
}